body {
    background-color: #eeeeee;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 1.2em;
}

div#fieldChooser {
    width: 340px;
    height: 300px;
}

.fc-field {
    width: 320px;
    height: 48px;
    margin: 5px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(222, 222, 222, 1.0);
}

.fc-field:hover {
    outline: #cacaca solid 1px;
}

.fc-selected {
    background-color: #ffe284;
}

.fc-selected:hover {
    background-color: #ffd448;
}

.fc-field-list {
    width: 350px;
    height: 300px;
    margin: 0px;
    padding: 3px;
    overflow: scroll;
}

.fc-source-fields {
    float: left;
}

.fc-destination-fields {
    float: right;
}