{% extends 'base.html' %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2">
    <div class="card-body">
          <h4 class="card-title"></h4>
          <a href="{% url 'create-ticket' %}" class="btn btn-primary btn-md">Create Configuration</a>
    </div>
    {% for post in posts %}
    <div class="col mb-4">
      <div class="card">
        <div class="view overlay">
          <img class="card-img-top" src="{{post.image.url}}" alt="">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title">{{post.title}}</h4>
          <p class="card-text">{{post.description}}</p>
          <a href="{% url 'detail' post.id %}" class="btn btn-primary btn-md">View Gallery</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}