{% extends 'base.html' %}

{% block content %}



  <style>
  #sortable1, #sortable2 {
    border: 1px solid #eee;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }
  #sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
  }
  </style>

<div class="container">
  <h2>Configure ticketing tool</h2>
<form >
    {% csrf_token %}
  <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Select Tools</label>
      <div class="col-sm-10">
          <select class="form-control" id="sel1" name="tool">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
      </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Endpoint</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="endpoint" name="endpoint" placeholder="Endpoint">
    </div>
  </div>
   <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Authentication type</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="PD" checked>
          <label class="form-check-label" for="gridRadios1">
            Password
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="TK">
          <label class="form-check-label" for="gridRadios2">
            Token
          </label>
        </div>
        
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="username" name="username" placeholder="Username">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
  </div>
  <h3>Configure Jira</h3><br/>
  
  <div class="form-group row">

    <ul id="sortable1" class="connectedSortable">
      <li class="ui-state-default" value="1">Item 1</li>
      <li class="ui-state-default" value="2">Item 2</li>
      <li class="ui-state-default" value="3">Item 3</li>
      <li class="ui-state-default" value="4">Item 4</li>
      <li class="ui-state-default" value="5">Item 5</li>
    </ul>
     
    <ul id="sortable2" class="connectedSortable">
     
    </ul>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="button" id="saveBtn" class="btn btn-primary">Sign in</button>
    </div>
  </div>
</form>

</div>




<script>

     

    document.addEventListener('DOMContentLoaded', function() {
        

        var formData = new FormData();
        $(document).on('click', '#saveBtn', function(e) {

            var selected_items = [];
            $("#sortable2 li").each(function(i)
            {
                console.log($(this));
               $(this).attr('rel'); // This is your rel value
               selected_items.push($(this).val())
            });
            
            if($('#endpoint').val() == '') {
                alert('Please enter title')
                return false
            }
            formData.append('tool', $("#sel1").val())
            formData.append('endpoint', $('#endpoint').val())
            formData.append('username', $('#username').val())
            formData.append('password', $('#password').val())
            formData.append('authtype', $('input[name="gridRadios"]:checked').val())
            formData.append('selected_projects', selected_items)
            
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')

            $.ajax({
                type: 'POST',
                url: '{% url "create-ticket" %}',
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                enctype: 'multipart/form-data',
                success: function (){
                    alert('The ticket configuration has been created!')
                    window.location.replace('{% url "blog" %}');
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ":" + xhr.responseText)
                }
            })
        })

        $( function() {
            $( "#sortable1, #sortable2" ).sortable({
              connectWith: ".connectedSortable"
            }).disableSelection();
        } );
    })
</script>
{% endblock %}